<div class="container">
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-success" ui-sref="newRecipe">New Recipe</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-3" ng-repeat="item in vm.items">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{item.title}}</h5>
                    <p class="card-text">{{item.text}}</p>
                    <a href="" class="card-link" ui-sref="recipeItem({id: item._id})">Read</a> 
                    <a href="" class="card-link" ui-sref="editRecipe({id: item._id})">Edit</a>
                    <a href="" class="card-link" ng-click="vm.deleteItem(item._id)">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>